@font-face {
	font-family: "Abordage";
	src:
		url("https://fonts.ob248.com/fonts/Abordage-Regular.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/Abordage-Regular.woff") format("woff"),
		url("https://fonts.ob248.com/fonts/Abordage-Regular.ttf") format("truetype");
	font-weight: 80;
	font-style: normal;
	font-display: swap;
}
