@font-face {
	font-family: "Anthony";
	src:
		url("https://fonts.ob248.com/fonts/Anthony.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/Anthony.woff") format("woff");
	font-weight: 80;
	font-style: normal;
	font-display: swap;
}
