@font-face {
	font-family: "Avara";
	src:
		url("https://fonts.ob248.com/fonts/Avara-Bold.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/Avara-Bold.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Avara";
	src:
		url("https://fonts.ob248.com/fonts/Avara-BoldItalic.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/Avara-BoldItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Avara";
	src:
		url("https://fonts.ob248.com/fonts/Avara-Black.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/Avara-Black.woff") format("woff");
	font-weight: 205;
	font-style: normal;
	font-display: swap;
}
