@font-face {
	font-family: "Berkeley Mono";
	src: url("https://fonts.ob248.com/fonts/BerkeleyMono-Regular.ttf")
		format("truetype");
	font-weight: 200 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Berkeley Mono";
	src: url("https://fonts.ob248.com/fonts/BerkeleyMono-Italic.ttf")
		format("truetype");
	font-weight: 200 700;
	font-style: italic;
	font-display: swap;
}
