@font-face {
	font-family: "Commit Mono";
	src: url("https://fonts.ob248.com/fonts/CommitMono-Variable.ttf")
		format("truetype");
	font-weight: 200 700;
	font-style: normal italic;
	font-display: swap;
}
