@font-face {
	font-family: "FlorDeRuina";
	src:
		url("https://fonts.ob248.com/fonts/FlorDeRuina-Germen.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/FlorDeRuina-Germen.woff") format("woff");
	font-weight: 50;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FlorDeRuina";
	src:
		url("https://fonts.ob248.com/fonts/FlorDeRuina-Semilla.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/FlorDeRuina-Semilla.woff") format("woff");
	font-weight: 80;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FlorDeRuina";
	src:
		url("https://fonts.ob248.com/fonts/FlorDeRuina-Flor.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/FlorDeRuina-Flor.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
