@font-face {
	font-family: "FlorDeRuina";
	src: url("https://fonts.ob248.com/fonts/FlorDeRuina-Germen.ttf")
		format("truetype");
	font-weight: 50;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FlorDeRuina";
	src: url("https://fonts.ob248.com/fonts/FlorDeRuina-Semilla.ttf")
		format("truetype");
	font-weight: 80;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FlorDeRuina";
	src: url("https://fonts.ob248.com/fonts/FlorDeRuina-Flor.ttf")
		format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
