@font-face {
	font-family: "FT88";
	src: url("https://fonts.ob248.com/fonts/FT88-Regular.ttf")
		format("truetype");
	font-weight: 80;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "FT88";
	src: url("https://fonts.ob248.com/fonts/FT88-Italic.ttf")
		format("truetype");
	font-weight: 80;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "FT88";
	src: url("https://fonts.ob248.com/fonts/FT88-Bold.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
