@font-face {
	font-family: "Karrik";
	src: url("https://fonts.ob248.com/fonts/Karrik-Regular.ttf")
		format("truetype");
	font-weight: 80;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Karrik";
	src: url("https://fonts.ob248.com/fonts/Karrik-Italic.ttf")
		format("truetype");
	font-weight: 80;
	font-style: italic;
	font-display: swap;
}
