@font-face {
	font-family: "Sorts Mill Goudy";
	src:
		url("https://fonts.ob248.com/fonts/SortsMillGoudy-Regular.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/SortsMillGoudy-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sorts Mill Goudy";
	src:
		url("https://fonts.ob248.com/fonts/SortsMillGoudy-Italic.woff2") format("woff2"),
		url("https://fonts.ob248.com/fonts/SortsMillGoudy-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
